<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log In</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="static/css/css_for_registration/style.css">
</head>
<body>

    <div class="main">

        <h1>Log In</h1>
        <div class="container">
            <div class="sign-up-content">
                <form method="POST" class="signup-form">
                    <h2 class="form-title">Welcome back to NMP</h2>

                    <div class="form-textbox">
                        <label for="username">Username</label>
                        <input name="username" id="username" />
                    </div>

                    <div class="form-textbox">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" />
                    </div>

                    <div class="form-textbox">
                        <label for="pass">Password</label>
                        <input type="password" name="pass" id="pass" />
                    </div>
                    <br>

                    <div class="form-textbox">
                        <input type="submit" name="submit" id="submit" class="submit" value="Log In"/>
                    </div>

                    <p class="loginhere">
                    Don't have an account?<a href="{{url_for('registration')}}" class="loginhere-link">Sign Up</a>
                </p>
                </form>

            </div>
        </div>

    </div>

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>